
# /
/.DS_Store
/packages

# /common/

# /gtk/
/gtk/*.a
/gtk/*.d
/gtk/*.o
/gtk/keymap2cc
/gtk/keymap.cc
/gtk/skin2cc
/gtk/skins.cc
/gtk/free42bin
/gtk/free42dec
/gtk/plus42bin
/gtk/plus42dec
/gtk/IntelRDFPMathLib20U1
/gtk/readtest.c
/gtk/readtest_lines.cc
/gtk/symlinks
/gtk/bid_conf.h
/gtk/bid_functions.h
/gtk/core_commands1.cc
/gtk/core_commands1.h
/gtk/core_commands2.cc
/gtk/core_commands2.h
/gtk/core_commands3.cc
/gtk/core_commands3.h
/gtk/core_commands4.cc
/gtk/core_commands4.h
/gtk/core_commands5.cc
/gtk/core_commands5.h
/gtk/core_commands6.cc
/gtk/core_commands6.h
/gtk/core_commands7.cc
/gtk/core_commands7.h
/gtk/core_commands8.cc
/gtk/core_commands8.h
/gtk/core_commands9.cc
/gtk/core_commands9.h
/gtk/core_commandsa.cc
/gtk/core_commandsa.h
/gtk/core_display.cc
/gtk/core_display.h
/gtk/core_equations.cc
/gtk/core_equations.h
/gtk/core_globals.cc
/gtk/core_globals.h
/gtk/core_helpers.cc
/gtk/core_helpers.h
/gtk/core_keydown.cc
/gtk/core_keydown.h
/gtk/core_linalg1.cc
/gtk/core_linalg1.h
/gtk/core_linalg2.cc
/gtk/core_linalg2.h
/gtk/core_main.cc
/gtk/core_main.h
/gtk/core_math1.cc
/gtk/core_math1.h
/gtk/core_math2.cc
/gtk/core_math2.h
/gtk/core_parser.cc
/gtk/core_parser.h
/gtk/core_phloat.cc
/gtk/core_phloat.h
/gtk/core_sto_rcl.cc
/gtk/core_sto_rcl.h
/gtk/core_tables.cc
/gtk/core_tables.h
/gtk/core_variables.cc
/gtk/core_variables.h
/gtk/free42.h
/gtk/keymap2cc.cc
/gtk/shell.h
/gtk/shell_loadimage.cc
/gtk/shell_loadimage.h
/gtk/shell_spool.cc
/gtk/shell_spool.h
/gtk/skin2cc.cc
/gtk/skin2cc.conf
/gtk/raw2txt
/gtk/raw2txt.cc
/gtk/txt2raw
/gtk/txt2raw.cc

# /mac/
/mac/build
/mac/.DS_Store
/mac/IntelRDFPMathLib20U1
/mac/gcc111libbid*.a
/mac/readtest_lines.cc

# /mac/Plus42.xcodeproj/
/mac/Plus42.xcodeproj/*.mode1v3
/mac/Plus42.xcodeproj/*.pbxuser
/mac/Plus42.xcodeproj/xcuserdata

# /mac/Plus42.xcodeproj/project.xcworkspace/
/mac/Plus42.xcodeproj/project.xcworkspace/xcuserdata

# /mac/Plus42.xcodeproj/project.xcworkspace/xcshareddata/
/mac/Plus42.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
/mac/Plus42.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint

# /skins/

# /windows/
/windows/*.vcxproj.filters
/windows/*.vcxproj.user
/windows/.vs
/windows/Debug
/windows/Release
/windows/32
/windows/keymap.cpp
/windows/skins.cpp
/windows/Free42Binary.exe
/windows/Free42Decimal.exe
/windows/Plus42Binary.exe
/windows/Plus42Decimal.exe
/windows/IntelRDFPMathLib20U1
/windows/cl111libbid32.lib
/windows/cl111libbid64.lib
/windows/readtest.c
/windows/readtest_lines.cpp
/windows/bid_conf.h
/windows/bid_functions.h
/windows/core_commands1.cpp
/windows/core_commands1.h
/windows/core_commands2.cpp
/windows/core_commands2.h
/windows/core_commands3.cpp
/windows/core_commands3.h
/windows/core_commands4.cpp
/windows/core_commands4.h
/windows/core_commands5.cpp
/windows/core_commands5.h
/windows/core_commands6.cpp
/windows/core_commands6.h
/windows/core_commands7.cpp
/windows/core_commands7.h
/windows/core_commands8.cpp
/windows/core_commands8.h
/windows/core_commands9.cpp
/windows/core_commands9.h
/windows/core_commandsa.cpp
/windows/core_commandsa.h
/windows/core_display.cpp
/windows/core_display.h
/windows/core_equations.cpp
/windows/core_equations.h
/windows/core_globals.cpp
/windows/core_globals.h
/windows/core_helpers.cpp
/windows/core_helpers.h
/windows/core_keydown.cpp
/windows/core_keydown.h
/windows/core_linalg1.cpp
/windows/core_linalg1.h
/windows/core_linalg2.cpp
/windows/core_linalg2.h
/windows/core_main.cpp
/windows/core_main.h
/windows/core_math1.cpp
/windows/core_math1.h
/windows/core_math2.cpp
/windows/core_math2.h
/windows/core_parser.cpp
/windows/core_parser.h
/windows/core_phloat.cpp
/windows/core_phloat.h
/windows/core_sto_rcl.cpp
/windows/core_sto_rcl.h
/windows/core_tables.cpp
/windows/core_tables.h
/windows/core_variables.cpp
/windows/core_variables.h
/windows/free42.h
/windows/keymap2cpp.cpp
/windows/shell.h
/windows/shell_loadimage.cpp
/windows/shell_loadimage.h
/windows/shell_spool.cpp
/windows/shell_spool.h
/windows/skin2cpp.conf
/windows/skin2cpp.cpp
/windows/raw2txt.cpp
/windows/txt2raw.cpp
